@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="post">
    <label asp-for="Input.Name">Name: </label>
    <input type="text" asp-for="Input.Name"/>
    <span asp-validation-for="Input.Name"></span>
    <br />

    <label asp-for="Input.Age">Age: </label>
    <input type="number" asp-for="Input.Age"/>
    <span asp-validation-for="Input.Age"></span>
    <br />

    <button type="submit">Submit</button>
</form>
<br />
<div asp-validation-summary="All"></div>

@if (@Model.IsInputValid)
{
    <p>Name: @Model.Input.Name</p>
    <p>Age: @Model.Input.Age</p>
}
