<meta name="decription" content="@Description" />

<h2>This is a child component without SectionContent for header metainfo</h2>

@code {
    [Parameter]
    public string Description { get; set; } = string.Empty;
}
