<SectionContent SectionName="DescriptionUsingSection">
    <meta name="decription" content="@Description" />
</SectionContent>

<h2>This is a child component with SectionContent for head metainfo</h2>

@code {
    [Parameter]
    public string Description { get; set; } = string.Empty;
}
