@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="alert alert-secondary">
                    <nav class="nav nav-pills flex-column">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                Home
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                                Categories
                            </NavLink>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col">
                @Body
            </div>
        </div>
    </div>
</main>
