@page "/MissingMetainfo"

<PageTitle>Home Without SectionOutlet for metainfo</PageTitle>

<HeadContent>
    <meta name="author" content="Homepage without SectionOutlet" />
</HeadContent>

<h1>This page doesn't use SectionOutlet and SectionContent, thus metainfo in its children components aren't included in
    head tag</h1>

<ChildWithoutSection Description="Child without using SectionContent" />
