

<h1>Customer Operations(Query/Create/Delete)</h1>

<div>
    <h3>Query Customer By ID</h3>
    <form asp-action="Query" method="get">
        <input name="CustomerId" placeholder="Enter Customer ID here" />
        <input type="submit" />
    </form>
</div>

@* <div>
    <h3>Create New Customer</h3>
    <form asp-action="Query" method="get">
        <input name="country" placeholder="Enter a country" />
        <input type="submit" />
    </form>
</div> *@
