@page
@using TryValidationAttribute.Services
@model IndexModel
@inject AllowedLanguageService langService
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="post">
    <input type="text" asp-for="Input.Language" placeholder="Enter your selected language here" />
    <span asp-validation-for="Input.Language"></span>
    <button type="submit">Submit</button>
</form>

@if (!string.IsNullOrWhiteSpace(@Model.SelectedLanguage))
{
    <h2>Selected Language: @Model.SelectedLanguage</h2>
    <p>@langService.GetLanguageDescription(Model.SelectedLanguage)</p>
}
