@page "/"
@using Data.Models
@using Data.Models.Interfaces
@inject IBlogApi _api

<ul>
    <Virtualize ItemsProvider="LoadPosts" Context="post">
        <li><a href="/Post/@post.Id">@post.Title</a></li>
    </Virtualize>
</ul>

@code {
    public int totalBlogposts { get; set; }

    private async ValueTask<ItemsProviderResult<BlogPost>>
    LoadPosts(ItemsProviderRequest request)
    {
        if (totalBlogposts == 0)
        {
            totalBlogposts = await _api.GetBlogPostCountAsync();
        }
        var numOfPosts = Math.Min(request.Count, totalBlogposts - request.StartIndex);
        var blogPosts = await _api.GetBlogPostsAsync(numOfPosts, request.StartIndex);
        return new ItemsProviderResult<BlogPost>(blogPosts, totalBlogposts);
    }
}