@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Language View Component for 3 languages</h2>
<vc:language languages-count="3"></vc:language>

<h2>Language View Component for 2 languages</h2>
<vc:language languages-count="2"></vc:language>
